version: "3.8"

services:
  shiny-app-1:
    build: .
    container_name: tcell_atlas_app_1
    restart: always
    ports:
      - "8001:3838"   # host:container
    volumes:
      - ./app_code:/srv/shiny-server/app:ro
      - ./data:/srv/shiny-server/data:ro

  shiny-app-2:
    build: .
    container_name: tcell_atlas_app_2
    restart: always
    ports:
      - "8002:3838"
    volumes:
      - ./app_code:/srv/shiny-server/app:ro
      - ./data:/srv/shiny-server/data:ro

  shiny-app-3:
    build: .
    container_name: tcell_atlas_app_3
    restart: always
    ports:
      - "8003:3838"
    volumes:
      - ./app_code:/srv/shiny-server/app:ro
      - ./data:/srv/shiny-server/data:ro
