version: "3.8"

services:
  shiny-app-1:
    build: .
    container_name: tcell_atlas_app_1
    restart: always
    ports:
      - "8001:3838"   # host:container
    volumes:
      - /home/ubuntu/atlas/data:/srv/shiny-server/atlas/data:ro
      - /home/ubuntu/atlas/logs/prod:/var/log/shiny-server
      - /home/ubuntu/atlas/data/users_current.sqlite:/srv/shiny-server/data/users_current.sqlite   # ✅ rw file mount

  shiny-app-2:
    build: .
    container_name: tcell_atlas_app_2
    restart: always
    ports:
      - "8002:3838"
    volumes:
      - /home/ubuntu/atlas/data:/srv/shiny-server/atlas/data:ro
      - /home/ubuntu/atlas/logs/prod:/var/log/shiny-server
      - /home/ubuntu/atlas/data/users_current.sqlite:/srv/shiny-server/data/users_current.sqlite   # ✅ rw file mount

  shiny-app-3:
    build: .
    container_name: tcell_atlas_app_3
    restart: always
    ports:
      - "8003:3838"
    volumes:
      - /home/ubuntu/atlas/data:/srv/shiny-server/atlas/data:ro
      - /home/ubuntu/atlas/logs/prod:/var/log/shiny-server
      - /home/ubuntu/atlas/data/users_current.sqlite:/srv/shiny-server/data/users_current.sqlite   # ✅ rw file mount

